<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>记账本案例</title>
</head>
<body>
    <a href="/account">记账本列表</a>
    <a href="/account/create">添加记账本</a>
</body>
</html>
