/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* 顶部导航条star */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}

.welcome {
    text-align: center;
    line-height: 30px;
    font-size: 0px;
    color: #666; 
}
.welcome span,.welcome a {
    font-size: 12px;
    
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register {
    padding-left: 10px;
}

.topbar-nav {
    font-size: 12px;
}
.topbar-nav .list li{
    float: left;
    line-height: 30px;
}
.topbar-nav .list>li>a {
    border-right: 1px solid #666;
    padding-right: 10px;
    padding-left: 10px;
}

.topbar-nav .list li:first-child>a {
    padding-left: 0px;
}

.topbar-nav .list li:last-child>a {
    padding-right: 0px;
    border: 0px;
}
/* 顶部导航条end */