@font-face {
  font-family: "iconfont"; /* Project id 4636970 */
  src: url('iconfont.woff2?t=1722252718297') format('woff2'),
       url('iconfont.woff?t=1722252718297') format('woff'),
       url('iconfont.ttf?t=1722252718297') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chengzi:before {
  content: "\e85c";
}

.icon-bingqilin:before {
  content: "\e85d";
}

.icon-hanbao:before {
  content: "\e85e";
}

.icon-kafeibei:before {
  content: "\e85f";
}

